// out: false

.dreambox-collection {
	padding: 10px;
}

.dreambox {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid red;
	margin-bottom: 5px;
	border: 1px solid #DCDDDE;
	background: #F8F9FD;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

	img {
		margin-right: 10px;
	}

	a {
		color: #39B7E9;
	}	

	.topPart {
		margin-bottom: 5px;
	}

	.title {
		font-weight: bold;
		color: black;
	}

	.tag {
		display: inline-block;
		padding: 7px 14px;
		line-height: 15px;
		font-size: 13px;
		margin: 2px;
		color: #0a455c;
		background-color: #8bd4f2;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
		border: 1px solid #63a4bd;
		cursor: pointer;
	}

	.titles {
		font-size: 14px;
		margin-bottom: 10px;
		color: #888;
		display: block;
	}

	.jobtitles a {
		display: block;
	}


	.author {
		.avatar {
			border: 1px solid #eaeaea;
			display: inline-block;
			padding: 5px;
			border-radius: 4px;
			box-shadow: 0px 0px 1px rgba(0, 0, 1, 0.12);
			background-color: white;
		}
	}



}

